 <!-- Affiliation Modals -->
 {% for post in site.posts %}
	{% for data in post.categories %}
	{% if data == "affiliations" %}
    <div class="portfolio-modal modal fade" id="affiliationModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="text-capitalize">{{ post.title }}</h2>
			    <h3 class="text-muted text-lowercase"><small>{{ post.kindcontract }}</small></h3>
                            <hr class="star-primary">
                            <img src="img/affiliations/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"/>
                            <p>{{ post.description }}</p>
 			   <div class="table">
				  <table class="table table-hover table-responsive">
				    <thead>
				      <tr>
					<th class="text-left">Department</th>
					<th> &nbsp;</th>
					<th class="text-right">PhD School</th>
				      </tr>
				    </thead>
				    <tbody>
				 {% for department in site.tags[post.department] %}
					<tr>
					<td class="text-left"><a href="{{ department.website}}" target="_new">{{ department.title }}</a></td>
					<td> &nbsp;</td>
					<td class="text-right">{{department.phdschool_link}}" target="_new">{{ department.phdschool }}</a></td>
					</tr>                         
				 {% endfor %} 
				    </tbody>
				  </table>                          
				</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endif%}
{% endfor %}
{% endfor %}
