<!-- Alumni Section -->
    <section id="alumni" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alumni</h2>
                    <h3 class="section-subheading text-muted">Meet our best testimonials</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gliozzo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Alfio Gliozzo: Research Manager, Knowledge Induction @ IBM Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Alfio Gliozzo has 16 years of research and development experience in the field of Artificial Intelligence, with strong focus on Natural Language Processing and Semantic Web. He is currently managing the Knowledge Induction department at IBM T.J. Watson Research and teaching Cognitive Computing at Columbia University. He was part of the Deep QA team that developed Jeopardy! system.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/elenacabrio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">Elena Cabrio: Assistant Professor at the University of Nice Sophia Antipolis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Elena is an assistant Professor at the University of Nice Sophia Antipolis. Her research is on Natural Language Processing, Semantic Web, Question Answering, Textual Entailment and Linguistics</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/leobraga.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2014</h4>
                                    <h4 class="subheading"> Leo Braga - EFFECT Photonics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dr. Leo Huf Campos Braga worked on his PhD at FBK within IRIS team from October 2010 to April 2014. He got his PhD from University of Trento in April 2014 and joined NXP Semiconductors (Eindhoven, The Netherlands) as principal Scientist in August 2014. In January 2016 he moved to EFFECT Photonics where is now Module Engineering Manager of the team in charge of designing the optical communications module, including mechanics, electronics, firmware and optical sub-assembly.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/danielepighin.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2010</h4>
                                    <h4 class="subheading">Daniele Pighin - Research Scientist at Google</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Specialties: Supervised learning, kernel methods, statistical machine translation, natural language processing, software architectures for text processing, summarization, information extraction, relation extraction, event learning.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
<div class="container">
 {% assign items_grouped = (site.categories.alumni | group_by: 'year'| sort: 'year')  %}
	<script language="javascript">
	function showAlumniList(v) {
		if ( v == 'all') {
		 	$('#list{{group.name}}').show();
		} else {
	{% for group in items_grouped %}
			$('#list{{group.name}}').hide();
	{% endfor %}  
			$(v).show();
		}
	}
	</script>
 	<ul class="breadcrumb">
		<li>Former PhD students</li>
             {% for group in items_grouped %}  
	  	<li><a href="javascript:showAlumniList('#list{{ group.name}}');">{{ group.name}}</a></li>
            {% endfor %}
		<li><a href="javascript:showAlumniList('all');">all</a></li>
	</ul>
            {% for group in items_grouped %}  
             <div class="collapse" id="list{{ group.name}}">
		<hr>
		<div class="well bg-light-red">
		<h4>Student of {{ group.name}}</h4>
              	{% assign items = group.items | sort: 'surname'  %}
                {% for post in items %}
		<address>
                        <h5>{{ post.name }} {{ post.surname }}</h5>
                        <p>{{ post.title }}</p>
                        <p>Advisor: {{ post.advisor }}<br>
                           {{ post.university }}</p>  
	        </address>
		{% endfor %}
		<div>
	    {% endfor %}
</div>
        </div>
	
    </section>
