 <!-- Affiliation Modals -->
{% assign sorted = site.categories.calls4internship | sort: 'order' %}
 {% for post in sorted %}
    <div class="portfolio-modal modal fade" id="calls4internshipModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="text-capitalize">{{ post.title }}</h2>
			    <h3 class="text-muted text-lowercase"><small>{{ post.kindcontract }}</small></h3>
                            <hr class="star-primary">                               
                        Tutor: {{ post.tutor }}  <br>
                        Duration: {{ post.duration }}  <br>
			Url:<a href="{{ post.website }}" target="_blank">{{ post.website }}</a><br/>
                        Abstract:<br>
                            <p>{{ post.abstract }}</p>
 			   
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
 <!-- End Affiliation Modals -->
