<!-- Contact Section -->
    <section id="contact">
        <div class="container bg-light-gray">
		<div class="row">
			<div class="col-lg-12 text-center">
                    		<h2 class="section-heading">Contact Us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 timeline-image">
				<img class="img-circle img-responsive" src="img/team/magnini200.jpg" alt="Paolo Tonella">
        	<h4 class="subheading"><span class="text-capitalize">Director: Bernardo Magnini</span><br/>
          <span class="text-mute text-lowercase">magnini<i class="fa fa-at" aria-hidden="true"></i>fbk.eu</span></h4>
			</div>
			<div class="col-lg-4">
                        

        <p class="text-muted">Steering Committee: <br>
				- Bernardo Magnini (Chair, ICT) <br>
				- Georg Pucker (CMM) <br>
				- Luciano Serafini (ICT) <br>
				- Annapaola Marconi (ICT) <br>
				- Leandro Lorenzelli (CMM) <br>
				- Marco Ventura (ISR) <br>
				- Roberto Riggio (Create-net) <br>
				 <br>
				Secretariat: Patrizia Ianes (ianes<i class="fa fa-at" aria-hidden="true"></i>fbk.eu) <br>
				Administrative support: Maddalena Bassetti (bassetti<i class="fa fa-at" aria-hidden="true"></i>fbk.eu) <br>
			       </p>
           
       <p>Further information about working in FBK and living in Trento can be found at the <a href="http://hr.fbk.eu/en/services/welcome-office-0">Welcome office web site<a> </p>
        
       
			</div>
			<div class="col-lg-4">
			<img class="img-responsive img-centered " src="img/labs2.jpg">
			</div>
		</div>	
    
    	<div class="row">
      <div class="col-lg-12 text-center">
      	<!--img class="img-responsive img-centered " src="img/footer.png"-->
        </div>
       </div>
        </div>
    </section>

