<!-- Open Calls Grid Section -->
    <section id="opencalls">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Open Calls</h2>
                    <h3 class="section-subheading text-muted">Apply for a PhD at FBK</h3>
                </div>
            </div>     
	    <div class="row">
            {% for post in site.tags['call_uni'] %}
                   <div class="col-lg-12 text-center" style="background:#f7f7f7;border-radius:3px; padding:3px;">
                        <h3>{{ post.title }}</h3>
                           
                       <p> Topic: {{ post.topic }}<br>
		 	{% assign positions = post.number_of_positions %}
			{% if positions > 0 %}
                       Number of positions: {{ post.number_of_positions }}<br>
			{% else %}
			<br/><strong>There are currently no open calls. New open calls will be announced in this page as soon as they are available.</strong><br/><br/>
                       Info<br/><a href="{{ post.website }}" target="_blank">{{ post.website }}</a>  <br/><br/>
                       Closing Date: {{post.closing_date}} </p> 
                 	{% endif %}  
                    
                    {% for call in site.tags[post.subtag] %}
                         <div>
                           <h5>{{ call.title }}</h5>
			{% assign applyurl =  call.applyurl %}
		    {% if applyurl != "" %}
                           URL:  <a href="{{ call.applyurl }}" target="_new">{{ call.applyurl }}</a><br/>
		    {% endif %}
                            <p> Advisor: {{ call.advisor }}</p>
                         </div>
                    {% endfor %}  
                   </div>
             <br/>&nbsp;<br/>
            {% endfor %}
	    </div>
        </div>
    </section>
