<section id="opencalls" class="bg-light-gray">
  <h2 class="section-heading text-center">Open Calls</h2>
  <h3 class="section-subheading text-muted">Apply for a PhD at FBK through one of our affiliated universities</h3>
</div>
		<div class="text-center">
			<h3 class="section-heading">PHD</h3>
		<div>
		<div class="container-fluid bg-light-gray">
		{% assign opencalls = site.tags['call_uni'] %}
		{% if opencalls.size > 0 %}
			{% for post in opencalls %}
			{% assign positions = site.tags[post.subtag] %}
			<div class="row">	
				<div class="col-sm-4">
					<p>&nbsp;</p>
				</div>
				<div class="col-sm-4 text-left">
					<p>
					<h4>{{ post.title }}</h4>
					<strong>{{ post.phdschool }}</strong><br/>
		  			<a href="{{ post.website }}" target="_blank">{{ post.website }}</a><br/>
		   			<strong>Closing Date: {{post.closing_date}}</strong>
					</p>
					{% for call in positions %}
					<p>
					&nbsp;&nbsp;&nbsp;<strong>{{ call.title }}</strong><br/>
					{% assign applyurl =  call.applyurl %}
					{% if applyurl != "" %}
						&nbsp;&nbsp;&nbsp;<a href="{{ call.applyurl }}" target="_new">{{ call.applyurl }}</a><br/>
					{% endif %}
					&nbsp;&nbsp;&nbsp;Advisor: {{ call.advisor }}<br/>
					</p>					
					{% endfor %}
				</div>
				<div class="col-sm-4">
					<p>&nbsp;</p>
				</div>
			</div>
			{% endfor %} 
	    {% else %}
		<div class="text-center">
			<br/><h3>There are currently no open calls.</h3><br/>
			<strong>New open calls will be announced in this page as soon as they are available.</strong><br/><br/>
		</div>	
{% endif %}
		</div>

  </section> 
