 <!-- Portfolio Modals -->
 {% for post in site.posts %}
	{% for data in post.categories %}
	{% if data == "students" %}
    <div class="portfolio-modal modal fade" id="studentsModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
		{% assign research_topic = post.research_topic %}
		{% assign from = post.from %}
		{% assign aboutme = post.aboutme %}
		{% assign advisor = post.advisor %}
		{% assign research = post.research_topic %}
		{% assign website = post.website %}
		{% assign keywords = post.keywords %}
		{% assign university = post.university %}
		{% assign email = post.email %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="text-capitalize">{{ post.name }} {{post.surname}}</h2>
			    <h3 class="text-muted text-lowercase"><small>{{ keywords }}</small></h3>
                            <hr class="star-primary"/>
			    <div class="table">
			    <table class="table table-responsive">
			     <tr>
                            	<td><img src="img/students/{{ post.img }}" class="img-responsive img-centered img-rounded" alt="{{ post.alt }}" width="1{{ 'barbar' | replace_first:'bar','foo' }} 50px" ></td>
				<td>
				<p class="text-left">
				{% if university.size > 3 %}
					I'm a student of the <strong>{{ university }}</strong><br/>
				{% endif %}
				{% if from.size > 3 %}
			 		I come from <strong>{{ from }}</strong><br/>
				{% endif %} 
				{% if research.size > 3 %}
                             		My research is on <strong>{{ research }}</strong><br/>
				{% endif %}
				{% if advisor.size > 3 %}
					The advisor is <strong>{{ advisor }}</strong><br/>
				{% endif %}
				</p>
				</td>
			     	</tr>
			    </table>
			     </div>
				{% if aboutme.size > 3 %}
                             	<p><strong>Something about me</strong>
				<p class="text-justify">
				{{ aboutme }}				
				</p>
				{% endif %}
				{% if website.size > 3 %}
				<p>
				more information <a href="{{ website }}" target="_new">{{ website }}</a>
				{% endif %}
				{% if email.size > 3 %}	
				<br/>
				You can contact me by email {{ email | replace_first:'@','<i class="fa fa-at" aria-hidden="true"></i>' }} 
				</p>
				{% endif %}
				<br/><br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endif%}
{% endfor %}
{% endfor %}
